body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    background: url("../images/grass.jpg");
  }

  * {
    box-sizing: border-box;
  }

  nav {
    float: left;
    margin-top: 25px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding-left: 20px;
    border-style: ridge;
    background-color: bisque;
  }

  .container {
    width: auto;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }

  .div-row {
      width: auto;
  }

  .col-md {
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: aqua;
  }

  .div-row2 {
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 150px;
    width: 545px;
    background-color: aqua;
  }

  .col-md2 {
    margin-left: 10px;
    margin-right: 500px;
    margin-top: 10px;
    width: 200px;
    height: 100px;
    background-color: aqua;
  }

  .col-md3 {
    margin-left: 10px;
    margin-right: 500px;
    margin-top: 10px;
    width: 200px;
    height: 100px;
    background-color: aqua;
  }

  .col-md4 {
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: aqua;
  }

  .col-md5 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 200px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: aqua;
  }

  img {
      width: 100px;
      margin-top: 10px;
      padding-left: 5px;
  }

  button {
      float: left;
      margin-left: 10px;

  }

  #randomNumber {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: x-large;
      font-style: normal;

  }    
  